* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px dashed red; */
}

/* FONTS IN PROJECT */

@font-face {
    font-family: 'Raleway';
    src: url(../../fonts/ralewaybd.ttf);
}

/*
.raleway {
    font-family: 'Raleway', sans-serif;
}
*/

@font-face {
    font-family: 'Montserrat';
}

/*
.montserrat {
    font-family: 'Montserrat', sans-serif;
}
*/

@font-face {
    font-family: 'Playfair Display';
}

/*
.playfairDisplay {
    font-family: 'Playfair Display', serif;
}
*/

/*GENERAL CLASSES*/

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin: auto;
    font-style: italic;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    float: left;
    /*    z-index: 2;*/
}

h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 22px;
    margin: auto;
    color: white;
    font-weight: normal;
}


h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0 auto;
    letter-spacing: 0.1em;
}

/*
h4 {
    font-family: 'Alegreya', serif;
    font-size: 20px;
    margin: auto;
    color: #a47d5e;
    font-weight: 600;
    text-transform: uppercase;
}
*/

/*
h6 {
    max-width: 350px;
    font-family: 'Alegreya', serif;
    font-size: 20px;
    font-weight: bold;
    color: #b8b5b1;
}
*/

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 180px;
    font-weight: bold;
    color: rgb(247, 247, 247);
    text-transform: uppercase;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    word-spacing: 0.25em;
    line-height: 1.3em;
    font-weight: normal;
    text-align: left;
    /*    padding-bottom: 30px;*/
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    align-content: center;
}

.white {
    color: white;
}

.black {
    color: black;
}

.blue {
    color: deepskyblue;
}

.squareImg {
    width: 100px;
    height: 100px;
    margin: 5px;
    z-index: 2;
}

.price {
    width: auto;
    height: auto;
    font-size: 24px;
    font-weight: bold;
}

.btn {
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
    background: rgb(66, 182, 255);
    text-transform: uppercase;
    min-width: 150px;
    margin: 5px auto;
    padding: 10px;
    display: inline-block;
}

li {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.brightness {
    background-color: white;
/*    display: inline-block;*/
}

.brightness img:hover {
    opacity: .6;
}


/*SECTIONS CLASSES*/

/*FIRST WAVE SECTION WITH PRODUCTS*/

.wave1 {
    background: url(../../surfers-co-assets/wave1.jpg) no-repeat center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 1100px;
    text-align: center;
}

.navBar {
    max-width: 1360px;
    margin: auto;
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
    /* margin: auto; */
}

.menu {
    max-width: 100%;
    margin: 0 60px;
}

.menu li {
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 5px;
}

ul.menu a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    /* padding: 18px; */
    margin: 0 auto;
    letter-spacing: 0.25em;
    color: black;
}

ul.menu a:hover {
   background-color: aqua;
}

.icon {
    margin: 30px;
    float: right;
}

.bg-Logo {
    width: 36px;
    height: 36px;
    background: url('../../surfers-co-assets/icon_sprites.png') -5px -5px;
    background-repeat: no-repeat;
    display: inline-block;
}

.bg-Logo2 {
    width: 36px;
    height: 36px;
    background: url('../../surfers-co-assets/icon_sprites.png') -51px -5px;
    background-repeat: no-repeat;
    display: inline-block;
}

.bg-IconMail {
    width: 36px;
    height: 36px;
    background: url('../../surfers-co-assets/icon_sprites.png') -97px -5px;
    background-repeat: no-repeat;
    display: inline-block;
}

.ride {
    width: 1260px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 90px;
    padding-bottom: 100px;
}

.bg-Board {
    width: 50%;
    height: auto;
    float: left;
}

/*
.bg-Photo1 {
    width: 70px;
    height: 70px;
    background: url('boards_sprites.png') -5px -5px;
}

.bg-Photo2 {
    width: 70px;
    height: 70px;
    background: url('boards_sprites.png') -5px -85px;
}

.bg-Photo3 {
    width: 70px;
    height: 70px;
    background: url('boards_sprites.png') -5px -165px;
}

.bg-Photo4 {
    width: 70px;
    height: 70px;
    background: url('boards_sprites.png') -5px -245px;
}

.photos li {
    list-style-type: none;
}
*/

.surf {
    position: relative;
    background-image: url(../../surfers-co-assets/Corner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1100px;
    height: 600px;
    margin: auto;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.34);
}

/*
.boardsWord {
    position: absolute;
    top: 220px;
    right: -234px;
    font-family: 'Montserrat', sans-serif;
    font-size: 127px;
    font-weight: bold;
    color: rgb(247, 247, 247);
    margin: auto;
    width: auto;
    height: auto;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
*/

/*
.boardLeft {
    width: 50%;
    height: auto;
    float: left;
    padding: 33px;
}
*/

.boardCentral {
    position: absolute;
    top: 150px; 
    left: 510px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
}

.boardCentral img {
    margin: 5px;
    /*    clear: left;*/
}
.boardCentral img:hover {
    border: 1px solid aqua;
    /*    clear: left;*/
}

.boardRight {
    width: 50%;
    padding: 8%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.boardRight li {
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
}

.boardRight a {
    font-weight: bold;
}

.stars {
    padding: 10px;
}

.stars p {
    display: inline-block;
    margin: 0 5px;
}

.priceAll {
    margin: 0 auto;
    position: absolute;
    top: 450px;
    left: 650px;
    width: 450px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    /* border: 1px solid #ccc;
    background-color: #f1f1f1; */
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
    font-size: 15px;

    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-transform: uppercase; 
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    /* background-color: #ccc; */
    border-bottom: 2px solid aqua;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
   
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}



/*SECOND WAVE SECTION WITH VIDEO*/

/*
.aboutUsWord {
    font-family: 'Montserrat', sans-serif;
    font-size: 180px;
    font-weight: bold;
    color: rgba(247, 247, 247, 0.9);
    text-transform: uppercase;
    display: inline;
    width: 100%;
}*/

.slogan {
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 0;
    margin-bottom: -40px;
}

.wave2 {
    max-width: 100%;
    height: 1000px;
}

.wave3 {
    background: url(../../surfers-co-assets/wave2.jpg) no-repeat center;
    background-size: cover;
    max-width: 100%;
    height: 650px;
    text-align: center;
    margin: auto;
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.white1 {
    background-color: white;
    width: 945px;
    height: 620px;
    float: left;
    position: absolute;
    top: 300px;
    left: 0px;
}

.white2 {
    width: 320px;
    height: auto;
    float: right;
    margin-right: 120px;
    padding-top: 95px;
}

.white2 h4 {
    margin: 15px 5px;
    line-height: 1.9em;
    text-transform: uppercase;
}

.white2 p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-style: italic;
    margin: 15px 5px;
    line-height: 1.9em;
    max-width: 320px;
}

/*VIDEO*/

#video-container {
	width: 500px;
	height: auto;
    position: relative;
    top: 400px;
    left: 300px;
}

#video-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
	background-image: linear-gradient(bottom, rgba(49, 49, 49, 0.644) 13%, rgb(87, 87, 87) 100%);
	background-image: -o-linear-gradient(bottom, rgb(102, 102, 102) 13%, rgb(87, 87, 87) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(102, 102, 102) 13%, rgb(87, 87, 87) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(102, 102, 102) 13%, rgb(87, 87, 87) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(102, 102, 102) 13%, rgb(87, 87, 87) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.13, rgb(90, 90, 90)),
		color-stop(1, rgb(73, 73, 73))
	);
}

#video-container:hover #video-controls {
	opacity: .9;
}

.buttonVideo {
	background: rgba(0,0,0,.5);
	border: 0;
	color: #EEE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.buttonVideo:hover {
	cursor: pointer;
}

#seek-bar {
	width: 300px;
}

#volume-bar {
	width: 60px;
}

.videoCircle {
    z-index: 9999;
    background-color: transparent;
    width: 500px;
    height: 260px;
    position: absolute;
    top: -260px;
    left:0px;
    border: 2px solid red;
}

/*VIDEO END*/


/*THIRD WAVE SECTION WITH TEAM*/

.secTeam {
    position: relative;
    max-width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 50px;
    margin: auto;
}

.slider .swiper {
    overflow: hidden;
}

.slider .swiper-container {
    max-width: 850px;
    height: auto;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slider .swiper-slide img {
    width: 100%;
    height: auto;
}

/*swiper-button-next GLOBAL*/

.swiper-button-prev {
    background: url(../../surfers-co-assets/Button%20left%20v2.png) no-repeat center;
    width: 50px;
    height: 50px;
}

/*swiper-button-prev GLOBAL*/

.swiper-button-next {
    background: url(../../surfers-co-assets/Button%20right%20v2.png) no-repeat center;
    width: 50px;
    height: 50px;
}

.swiper p {
    text-align: center;
}

/*
.slider{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
*/

/*
.img1 {
    position: absolute;
    left: 450px;
    z-index: 3;
}

.img2 {
    position: absolute;
    left: 700px;
    top: 350px;
    z-index: 4;
}

.img3 {
    position: absolute;
    left: 930px;
    z-index: 3;
}

.img4 {
    position: absolute;
    left: 1150px;
    top: 350px;
    z-index: 3;
}
*/

/*FOURTH WAVE SECTION WITH LAST UPDATE*/

.update {
    position: relative;
    top: 0px;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5%;
}

.upTitle {
    min-width: 300px;
    text-align: center;
    margin: auto;
}

.upTitle h4 {
    margin: 20px auto;
}

.upPhotos {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    text-align: center;
}

.upPhotos p {
    position: absolute;
    top: 400px;
    max-width: 310px;
    height: auto;
    margin: auto;
    padding: 25px;
    font-family: 'Raleway', sans-serif;
    clear: left;
}

.upPhotos img {
    width: auto;
    margin: 20px;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.34);
    clear: left;
}



/*FIFTH INSTAGRAM SECTION FACEBOOK */

.instaFacebook {
    width: 100%;
    height: 640px;
    position: relative;
}

.fb {
    position: absolute;
    top: 200px;
    left: 1200px;
    width: 340px;
    height: auto;
}


/* FOOTER */

.footer {
    width: auto;
    height: 400px;
    background-color: black;
    position: relative;
}

.footerBox {
    max-width:400px;
    max-height: 100px;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
    align-content: stretch;
    position: absolute;
    top: 20px;
    left: 1050px;
    margin: 15px;
}

.footerBox p {
    margin: 10px 30px; 
}

.footerBox a {
    color: white;
    text-decoration: none;
}

/* footerBox a:before {
    content: '';
    background: url(../../surfers-co-assets/Waves_col_2.png);
} */
